{% extends "admin/change_list.html" %}
{% load i18n admin_urls %}

{% block object-tools %}
    <div class="object-tools">
        {% block object-tools-items %}
            {% if has_add_permission %}
                <a href="{% url 'admin:englishword_import_excel' %}" class="addlink" style="background-color: #417690; margin-right: 10px;">
                    batch process
                </a>
                {{ block.super }}
            {% endif %}
        {% endblock %}
    </div>
{% endblock %}


